body, div, h1, form, fieldset, input, textarea {
	margin: 0; padding: 0; border: 0; outline: none;
}

html {
	height: 100%;
}

body {
font-family: Helvetica, Arial, sans-serif;
font-size:12px;
color:#201f1f;
position:relative;
background: #c9f0f5;
}
#menu-demo2, #menu-demo2 ul{
	padding:0;
	margin: 15px;
	list-style:none;
	text-align:center;
		}
	#menu-demo2 li{
	display:inline-block;
	position:relative;
	border-radius:8px 8px 0 0;
	}
	#menu-demo2 ul li{
	display:inherit;
	border-radius:0;
	}
	#menu-demo2 ul li:hover{
	border-radius:0;
	}
	#menu-demo2 ul li:last-child{
	border-radius:0 0 8px 8px;
	}
	#menu-demo2 ul{
	position:absolute;
	z-index: 1000;
	max-height:0;
	left: 0;
	right: 0;
	overflow:hidden;
	-moz-transition: .8s all .3s;
	-webkit-transition: .8s all .3s;
	transition: .8s all .3s;
	}
	#menu-demo2 li:hover ul{
	max-height:15em;
	}
	/* background des liens menus */
	#menu-demo2 li:first-child{
	background-color: #65537A;
	background-image:-webkit-linear-gradient(top, #65537A 0%, #2A2333 100%);
	background-image:linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
	}
	#menu-demo2 li:nth-child(2){
	background-color: #729EBF;
	background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
	background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
	}
	#menu-demo2 li:nth-child(3){
	background-color: #F6AD1A;
	background-image:-webkit-linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
	background-image:linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
	}
	#menu-demo2 li:last-child{
	background-color: #CFFF6A;
	background-image:-webkit-linear-gradient(top, #CFFF6A 0%, #677F35 100%);
	background-image:linear-gradient(to bottom, #CFFF6A 0%, #677F35 100%);
	}
	/* background des liens sous menus */
	#menu-demo2 li:first-child li{
	background:#2A2333;
	}
	#menu-demo2 li:nth-child(2) li{
	background:#333A40;
	}
	#menu-demo2 li:nth-child(3) li{
	background:#9F391A;
	}
	#menu-demo2 li:last-child li{
	background:#677F35;
	}
	/* background des liens menus et sous menus au survol */
	#menu-demo2 li:first-child:hover, #menu-demo2 li:first-child li:hover{
	background:#65537A;
	}
	#menu-demo2 li:nth-child(2):hover, #menu-demo2 li:nth-child(2) li:hover{
	background:#729EBF;
	}
	#menu-demo2 li:nth-child(3):hover, #menu-demo2 li:nth-child(3) li:hover{
	background:#F6AD1A;
	}
	#menu-demo2 li:last-child:hover, #menu-demo2 li:last-child li:hover{
	background:#CFFF6A;
	}
	/* les a href */
	#menu-demo2 a{
	text-decoration:none;
	display:block;
	padding:8px 32px;
	color:#fff;
	font-family:arial;
	}
	#menu-demo2 ul a{
	padding:8px 0;
	}
	#menu-demo2 li:hover li a{
	color:#fff;
	text-transform:inherit;
	}
	#menu-demo2 li:hover a, #menu-demo2 li li:hover a{
	color:#000;
	}
	#menu-demo2 li > ul > li {
		width: 100%;
	}

#page{
width:972px;
margin:0 auto;
position:relative;

}

header {
width:100%;
/*padding-left: 157px;*/
height:131px;
background: url("images/logo.png") 0 0 no-repeat;
position:relative;
background-color: rgba(0,0,0,0.2);
margin: 0;
display: flex;
justify-content: space-between;
}
.myhome {
	display: block;
	width: 380px;
	height: 105px;
	float: left;
}
header >ul {
	float: right;
	margin: 0 auto 0 auto;
}
ul {
padding:0;
margin:0;
/*position:absolute;*/
right:10px;
top:55px;
float: right;
}

ul li{
padding:0;
margin:0;
list-style:none;
float:left;
}

ul li a{
padding:0 14px 0 14px;
margin:0;
float:left;
height:31px;
line-height:31px;
color:#8d8d8d;
text-decoration:none;
text-shadow:0 1px 1px #080808;
font-weight:bold;
}

.sousmenu{
background:url("images/bg_menu_top.jpg") 0 0 repeat-x;
border-radius: 5px;
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;	
position:relative;
}


.sousmenu:hover, .actif{
background:#fff;
color:#202020;
text-shadow:none;
height:50px;
border-radius: 5px;
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;	
}


ul li .login_form {
position:absolute;
top:31px;
left:0;
background:#fff;
padding:15px;
width:226px;
height:150px;
border-radius: 5px;
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;	
display:none;
}
ul li .login_form span {
background:#f2efea;
padding:3px;
border-radius: 5px;
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;
float:left;
margin:0 0 14px 0;
}
ul li .login_form input{
width:200px;
padding:10px;
border:1px solid #cdc8c4;
border-radius: 5px;
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;
color:#91938b;
font-weight:bold;
}
ul li .login_form input::-webkit-input-placeholder  {
color: #cdc8c4;
text-shadow: 0px -1px 0px #38506b;
}
ul li .login_form input:-moz-placeholder {
color: #cdc8c4; 
text-shadow: 0px -1px 0px #38506b;
}
	
ul li .login_form input[type=submit]{
float:right;
background:url("images/bg_menu_top_submit.jpg") 0 0 repeat-x #ffb004;
border:1px solid #e5a53b;
padding:0; margin:0;
height:34px;
line-height:34px;
width:80px;

font-weight:bold;
color:#996319;
text-shadow: 0 1px 1px #ffcc55;
cursor:pointer;
-moz-box-shadow: 0px 2px 2px #cfcfcf;
-webkit-box-shadow: 0px 2px 2px #cfcfcf;
}
ul li .login_form input[type=submit]:active{
margin:1px 0 0 0;
-moz-box-shadow: 0px 0px 1px #cfcfcf;
-webkit-box-shadow: 0px 0px 1px #cfcfcf;
}
ul li .login_form a {
font-size:10px;
text-shadow:none;
padding:0; margin:10px 0 0 5px;
height:16px;
line-height:16px;
color:#8d8d8d;
}
ul li .login_form a:hover {
border-bottom:1px dotted #8d8d8d;
}
.menugauch {
	float: left;
	width: 20%;
	padding-left: 22px;
}
.menugauch dt {
	border-bottom: 1px solid;
	border-color: gray;
}
.menugauch a {
	color: #a89a9a;
	text-decoration: none;
	font-size: 15px;
}
.conten {
/*float: right;*/
width: 70%;
/*display: flex;
flex-direction: row;*/
padding: 40px;
margin: 35px 4px;
display: flex;
flex-direction: column;

}
.suggestion {
	flex-basis: 33%;
	align-items: flex-end;
   /* align-self: flex-start; /* ou .main-content  et align self si j'ai plusieur items et je veux 3 en haut par exemple et un seul en bas*/  
  }
  .container-column {
	display: flex;
	flex-direction: column;
  }
footer {
	clear: both;
	width: 100%;
	background-color: rgba(0,0,0,0.2);
	display: flex;
    justify-content: space-between;
}

.conteneur-galerie-images
{
	margin:0 auto;
	overflow:auto; 
	padding:5px;
}
.gauche-galerie-images
{
	width:200px;
	height:auto;
	float:left;
}
.droite-galerie-images
{
	width:600px;
	height:auto;
	float:right;
	text-align:center;
}

.droite-galerie-images img
{
	/*width:290px;*/
	height:300px;
	background:#D5F4FF;
	padding:5px;
}
.miniature-galerie-images
{
	list-style-type:none;
	padding:0;
}
.miniature-galerie-images li
{
	display:block;
}
.miniature-galerie-images li img
{
	width:80px;
	height:80px;
	background:#EEE;
	padding:5px;
	margin:2px;
}
.miniature-galerie-images li img:hover
{
	
	background:#D5F4FF;
	
}
.affichtxt {
	margin-top: -200px;
    margin-left: 100px;
    position: absolute;
    opacity: 0;
    background-color: #5a534873;
	bottom: -115px;
	left: -71px;
	right: 108px;
	border: 1px ridge #847676d6;
	width: 572px;
	height: 300px;
	font-size: 20px;
	color: rgb(230, 218, 25);
	transition: .5s ease;
	display: flex;
    align-items: center; 
	}
.slid_3:hover p {
	opacity:1;
	
}
.slid_1:hover p {
	opacity:1;
	
}

.slid_2:hover p {
	opacity:1;
	
}

#titre_bas
{
	font:Georgia, "Times New Roman", Times, serif;
	color:rgb(188, 137, 238);
	font-size:20px;
	font-style:italic;
	text-justify: auto;
}
.stylp {
	
	height: 10px;
	background-color: aliceblue;
	text-align: center;
}
.remise {
	
	border-color: rgb(218, 210, 210);
	color: rgb(218, 35, 157);
	font-weight: bold;
	
}
.modiftail {
	width: 80px;
}
.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: none;
	white-space: nowrap;
	color: #ffffff;
	background: #000000;
	width: 80px;
}
.btn:hover {
	background-color: rgb(243, 146, 219);
}

.miniature-galerie-images {
	display: block;
}
.menugauch >nav {
 float: left;
 width: 50%;
 
}
.menugauch >aside >nav >dl >dt {
	font-size: 20px;
	
}
/* css pour form */
#formc {
	
	padding:10px;
	width:580px;
	}
   #fieldc{
	padding:0 20px 20px 20px;
	margin-bottom:10px;
	border:1px solid #DF3F3F;
	}
#fieldh {
	border: 1px solid rgb(193, 180, 180);
}
   legend {
	color:rgb(226, 44, 190);
	font-weight:bold;
	font-size: 14px;
	}
   label {
	margin-top:10px;
	display:block;
	font-size: 14px;
	}
   label.inline {
	display:inline;
	margin-right:50px;
	}
   input, textarea, select, option {
	background-color:#FFF3F3;
	}
   input, textarea, select {
	padding:3px;
	border:1px solid #F5C5C5;
	border-radius:5px;
	width:250px;
	box-shadow:1px 1px 2px #C0C0C0 inset;
	}
   select {
	margin-top:10px;
	}
   input[type=radio] {
	background-color:transparent;
	border:none;
	width:10px;
	}
   input[type=submit], input[type=reset] {
	width:100px;
	margin-left:5px;
	box-shadow:1px 1px 1px #D83F3D;
	cursor:pointer;
	}
	.newslet {
		padding: 5px;
	}
	/*modif du class fa */
	.fa {
		border: 0px solid gray;	
		outline: none;
	}
	/*flex pour footer */
	footer  address {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	  
	  
	}
	/*styl de div pub */
	.publicite {
		float: left;
	}
	.avantage {
		float: left;
		width: 241px;
		background: url("images/avantages.jpg") no-repeat;
		background-position: initial;
		background-size: 300px;
		background-attachment: initial;
		background-origin: initial;
		background-clip: initial;
		height: 280px;
		margin-right: 9px;
		cursor: pointer;
		border: 1px solid #eeeeee;
	}
	.blog {
		float: left;
		width: 241px;
		background: url("images/leblog.jpg") no-repeat;
		background-position: initial;
		background-size: 300px;
		background-attachment: initial;
		background-origin: initial;
		background-clip: initial;
		height: 280px;
		margin-right: 9px;
		cursor: pointer;
		border: 1px solid #eeeeee;
	
	}
	.parrainages {
		float: left;
		width: 241px;
		background: url("images/parainage.jpg") no-repeat;
		background-position: initial;
		background-size: 300px;
		background-attachment: initial;
		background-origin: initial;
		background-clip: initial;
		height: 280px;
		margin-right: 9px;
		cursor: pointer;
		border: 1px solid #eeeeee;
	
	}
	.title {
		color: #F39;
		float: left;
		font-size: 15px;
		margin-top: 189px;
		text-align: center;
		width: 100%;
		padding-bottom: 1px;
	}
	.title2 {
			color: #F39;
			float: left;
			font-size: 15px;
			margin-top: 120px;
			text-align: center;
			width: 100%;
			padding-bottom: 1px;
		}
	.title3 {
            color: #F39;
			float: left;
			font-size: 15px;
			margin-top: 150px;
			text-align: center;
			width: 100%;
			padding-bottom: 1px;
		}
	.para1 {
		color: gainsboro;
	}
	/*slidshow */
	.contener_slideshow
	{
	  width:610px;
	  height:311px;
	  overflow: hidden;
	  position: relative;
	  /*background-image: url("images/cooking.png");*/
	}
	.slid_1, .slid_2, .slid_3
	{
	  position: absolute;
	  width:610px;
	  height:211px;
	}
	.slid_1{left:2 0;}
	.slid_2{left: 610px;}
	.slid_3{left: 1220px;}
	.contener_slide
	{
	  width: 1220px;
	  height: 211px;
	  left:0px;
	  position: absolute;
	  -webkit-animation-duration: 10s;
	  -webkit-animation-iteration-count:infinite;
	  -webkit-animation-name: anim_slide;
	  -moz-animation-duration: 10s;
	  -moz-animation-iteration-count:infinite;
	  -moz-animation-name: anim_slide;
	  -ms-animation-duration: 10s;
	  -ms-animation-iteration-count:infinite;
	  -ms-animation-name: anim_slide;
	  animation-duration: 10s;
	  animation-iteration-count:infinite;
	  animation-name: anim_slide;
	}
	@-webkit-keyframes anim_slide 
	{
	  0% {left:0px;}
	  22% {left:0px;}
	  33% {left:-610px;}
	  45% {left:-610px;}
	  66% {left:-1220px;}
	  90% {left:-1220px;}
	}
	@-moz-keyframes anim_slide 
	{
	  0% {left:0px;}
	  22% {left:0px;}
	  33% {left:-610px;}
	  45% {left:-610px;}
	  66% {left:-1220px;}
	  90% {left:-1220px;}
	}
	@-ms-keyframes anim_slide 
	{
	  0% {left:0px;}
	  22% {left:0px;}
	  33% {left:-610px;}
	  45% {left:-610px;}
	  66% {left:-1220px;}
	  90% {left:-1220px;}
	}
	@keyframes anim_slide 
	{
	  0% {left:0px;}
	  22% {left:0px;}
	  33% {left:-610px;}
	  45% {left:-610px;}
	  66% {left:-1220px;}
	  90% {left:-1220px;}
	}